body{
    margin: 0px;
}
.img-med{
    width: 25%;
}
.img-peq{
    width: 60px;
}
.img-mini{
    width: 8%;
}
section{
    margin-top: 50px;
}
footer{
    margin-bottom: -50px;
}
.main{
    margin-top:150px
}

