body{
    margin: 0px;
}

.img-med{
    width: 50%;
}
@media(min-width:370px){

    div{
     
        font-size: 12px;
    }
}
@media (min-width:768px){

    div{
   
        font-size: 15px;
    }
}
@media (min-width:992px){

    div{
     
        font-size: 18px;
    }
}




.img-peq{
    width: 60px;
}
.img-mini{
    width: 8%;
}
section{
    margin-top: 50px;
}
footer{
    color: rgb(221, 226, 231);
    margin-bottom: -50px;
}
.main{
    margin-top:150px
}

